:root {
    --body-color: #363537;
    --font-color: #FFFFFA;
}


body {
    background-color: var(--body-color);
}
h1 {
    color: var(--font-color);
    font-size: 4em;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin:  100px auto;
    position: relative;
    overflow: hidden;
    width: 30%;
}
.container::before {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    background-color: #FF312E;
    height: 10px;
    width: 15%;
    border-radius: 10px;
    z-index: 10;
    opacity: 0.7;
    animation: loading 700ms linear infinite alternate-reverse;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.container::after {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    background-color: #515052;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}

@media only screen and (max-width: 982px) {
    h1 {
        font-size: 2em;
    }
    
}


/*
animations!!! 
*/
@keyframes loading {
    0% {
        transform: translateX(-400%);
        opacity: 0;
    }  
    30% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.4;
    }

    100% {
        transform: translateX(400%);
        opacity: 0;
    }
    
}
